header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
}

.sectionLogo{
    display: flex;
    width: max-content;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;

}

.sectionText{
    padding: 20px;
    font-size: x-large;
    color: #846219;
}


.mobileBtn{
    display: none;
}

.navMenu{
    display: flex;
    width: 50%;
    justify-content: end;
    color: #846219;
}

.navList{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navItem{
    padding: 8%;
    width: max-content;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    transition: 1s;
}

a:hover{
    color:yellow
}

@media (max-width:590px){
    .mobileBtn{
        display: block;
    }

    .navMenu{
        display: block;
        position:absolute;
        width: 100%;
        top: 100px;
        background-color: whitesmoke;
        z-index: 1000;
        
        
    }
    .navList{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s;
    }

    .navItem{
        padding: 2%;
        border-bottom: 2px solid gray;
        width: 100%;
    }

    .active{
        display: none;
        visibility: visible;
    }



}